# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
.vs/slnx.sqlite
*.db
.vs/enginesql/v16/.suo
.vs/enginesql/v16/Browse.VC.db-shm
.vs/enginesql/v16/Browse.VC.db-wal
.vs/enginesql/v16/Browse.VC.opendb
.vs/enginesql/v16/TestStore/0/000.testlog
.vs/enginesql/v16/TestStore/0/testlog.manifest

!db/*.db
!lib/**/*.lib
!lib/**/*.dll
.vs/enginesql/
cmake-build-debug/
.idea
